@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1: #3A558C;
    --cor2: #5D75A6;
    --cor3: #A0B3D9;
    --cor4: #D5E2F2;
    --cor5: #0D0D0D;
}

body{
    background-color: var(--cor4);
}
header{
    background-color: var(--cor1);
    min-height: 100px;
    max-height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

header > h1{
    text-align: center;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    font-family: serif;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.849);
    font-weight: 400;
}
 main  h2{
    text-align: center;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);
    font-family: serif;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.322);
    font-weight: 400;
}
header  a{
    text-decoration: none;
    color: var(--cor4);
    padding-right: 20px;
    font-weight: bold;
    padding-left: 5px;
}

header > nav > a:hover{
    color: var(--cor2);
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
    transition: 0.5s;
}
header > nav > a:active{
    color: darkblue;
}

main {
    max-width: 800px;
    min-width: 200px;
    padding-bottom: 20px;
    background-color: rgb(201, 200, 252);
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -4px -2px 4px rgba(0, 0, 0, 0.233);
}


main > article> p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 40px;
    text-align: justify;
    line-height: 16pt;
    
}

img{
    display: block;
    margin: auto;
}

footer{
    background-color: var(--cor1);
    color: white;
    padding: 15px;
    margin-top: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    min-height: 100px;
}
footer  a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
footer a::after{
   content: '\01F517';
}

