@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #3A558C;
    --cor2: #5D75A6;
    --cor3: #A0B3D9;
    --cor4: #D5E2F2;
    --cor5: #0D0D0D;
}

body{
    background-color: var(--cor4);
}
header{
    background-color: var(--cor1);
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

header > h1{
    text-align: center;
    padding-bottom: 50px;
    color: white;
}

header  a{
    text-decoration: none;
    color: var(--cor4);
    padding-right: 20px;
    font-weight: bold;
    padding-left: 5px;
    
}

header > nav > a:hover{
    color: var(--cor2);
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
    transition: 0.5s;
}

main {
    max-width: 800px;
    min-width: 280px;
    background-color: rgb(201, 200, 252);
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main > h2 {
    color: darkblue;
    text-align: center;
    padding-bottom: 30px;
    
}

main > article> p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 40px;
    text-align: justify;
    line-height: 16pt;
    
}

img{
    display: block;
    margin: auto;
}

footer{
    background-color: var(--cor1);
    color: white;
    padding: 25px;
    margin-top: 80px;
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
}
footer  a{
    font-weight: bold;
    color: white;
    text-decoration: none;

}
footer a::after{
   content: '\00A0\00A0\01F517';
}